<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isomorphisms.clipboardsmoke">
    <application
        android:allowBackup="false"
        android:extractNativeLibs="false"
        android:hasCode="false"
        android:label="Clipboard smoke"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name="android.app.NativeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="clipboard_smoke" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
